///////////////////////////////////////////// Wrapper

/////////////////////////////////////////////

.header-menu-top {
  // border: 1px solid red;
  display: block;
  width: 100%;
  padding: 10px 0 0;
}

.header-menu-top-wrap {
  display: flex;
  justify-content: flex-end;
}

.nav-logo-lang-wrap {
  display: flex;
  align-items: center;
}
.nav-social-wrap {
  // margin-right: 10px;
  display: flex;
  @include breakpoint($breakpoint-desktop) {
    display: flex;
  }
}

.nav-social {
  display: inline-block;
  border: 1px solid $color-light-grey;
  padding: 5px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  img {
    max-width: 20px;
    height: 15px;
    margin-right: 5px;
  }

  &:hover {
    background-color: $color-light-grey;
  }
}

.nav-phone span {
  font-weight: bold;
}

.nav-forecast {
  margin-right: 10px;
}

.nav-content-wrap {
  flex: 1;
  // border: 1px solid green;
}

.nav-content-bottom {
  // border: 1px solid red;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.nav-content-top {
  // border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

//////////////////////////////////////////////// Menu

.header-top {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  //background-color: white;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  z-index: 15;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include breakpoint($breakpoint-nav) {
    min-height: 84px; //64px;
  }
}

////////////////////////////////////////////////// Burger

.mobile--menu {
  font-size: 25px;
  min-height: 30px;
  width: 58px;
  z-index: 10;
  padding: 0;
  color: $color-dark-grey;
  cursor: pointer;
  user-select: none;

  span {
    user-select: none;
    z-index: -1;
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background: #222;
    transition: all 0.2s ease-in-out;

    &:before,
    &:after {
      position: absolute;
      background: #222;
      content: "";
      width: 20px;
      height: 3px;
      left: 0;
      transition: all 0.2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }

  @include breakpoint($breakpoint-nav) {
    display: none;
  }
}

.mobile--menu.is-shown {
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

//////////////////////////////////////////////////// Main Nav & Mobile

.nav-header {
  position: absolute;
  left: 0;
  width: 100%;

  @include breakpoint($breakpoint-nav) {
    position: relative;
    display: flex;
    align-items: center;
    width: initial;
    // max-width: 1020px;
    & > ul {
      display: block;
    }
  }
}

//////////////////////////////////////////////// Nav

.nav-list {
  &.is-shown {
    display: block;
  }

  display: none;
  z-index: 100;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: $color-blue-dark;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1),
    0 8px 16px 0 rgba(19, 41, 104, 0.2);
  li {
    //display: inline-block;
    display: block;
    position: relative;
    text-align: left;
    border-bottom: 1px solid rgba(black, 0.2);
    font-size: 14px;

    &:hover {
      & > a {
        color: $color-primary;
      }
      // .nav-sub {
      //   display: block;
      // }
    }
  }
  li > a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    // padding: 30px 20px;
    &.active {
      //font-weight: bold;
      color: $color-primary;
    }
  }

  @include breakpoint($breakpoint-nav) {
    background-color: transparent;
    top: initial;
    position: relative;
    box-shadow: none;
    li {
      display: inline-block;
      border: 0;
      & > a {
        color: black;
        padding: 2px 10px;
      }

      &:hover {
        .nav-sub {
          display: block;
        }
      }
    }
  }
}

.nav-list li.nav-home-page {
  @include breakpoint($breakpoint-nav) {
    display: none;
  }
}

//////////////////////////////////////////////// Logo

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint($breakpoint-nav) {
    margin-right: 20px;
    // margin-left: 20px;
    width: 100px;
    a {
      position: absolute;
      transform: translateY(15%);
      background: white;
      padding: 5px;
      box-shadow: $box-shadow;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.nav-logo-img {
  width: auto;
  width: 40px;
  vertical-align: middle;
  @include breakpoint($breakpoint-nav) {
    max-width: 100%;
    width: 100%;
  }
}

.nav-logo-img {
  &.mobile {
    display: block;
  }
  &.desktop {
    display: none;
    width: 160px;
  }
  @include breakpoint($breakpoint-nav) {
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
    }
  }
}

//////////////////////////////////////////////// Sub Menu

.nav-sub {
  display: none;
  position: absolute;
  top: 80%;
  left: 0;
  min-width: 150px;
  // width: 100%;
  // white-space: nowrap;
  background-color: white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1),
    0 8px 16px 0 rgba(19, 41, 104, 0.2);
  z-index: 10;
  li {
    display: block;
    &:not(:last-child) {
      border-bottom: 1px solid $color-super-light-grey;
    }
  }
  li a {
    white-space: nowrap;
    padding: 10px 20px;
  }
}

//////////////////////////////////////////////// Lang Switcher

.nav-lang {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 100%;
  &:hover {
    .active-lang {
      background-color: $color-light-grey;
    }
  }
  &.is-shown {
    .nav-lang-more {
      display: block;
    }
    .active-lang {
      background-color: $color-light-grey;
    }
  }
}

.active-lang {
  border: 1px solid $color-light-grey;
  // padding: 5px 10px;
  padding: 10px;
  border-radius: 30px;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    user-select: none;
    width: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
  }
  &:after {
    content: "";
    user-select: none;
    display: inline-block;
    margin-left: 8px;
    border: solid $color-border;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}

.nav-lang-more {
  @extend .nav-sub;
  left: -100%;
  top: 100%;
  width: auto;
  min-width: initial;
  // min-width: 100%;
  position: absolute;
  // display: block;
  // display: none;
  background-color: white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1),
    0 8px 16px 0 rgba(19, 41, 104, 0.2);
  z-index: 10;
  li img {
    width: 20px;
    margin-left: 10px;
    display: inline-block;
  }
  li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:hover {
      background-color: $color-light-grey;
    }
  }
}
